{% extends 'base.html' %}


{% block style %}



<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #fbc2eb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5))
    }
</style>

{% endblock style %}


{% block main %}

<section class="h-100 gradient-form ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6 gradient-custom">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <a href="{% url 'index' %}">
                                        <img src="https://img.freepik.com/premium-photo/cyberpunk-gaming-controller-gamepad-joystick-illustration_691560-5812.jpg"
                                            style="width: 185px;" alt="logo"></a>
                                    <h4 class="mt-1 mb-5 pb-1">Play 4 Pay!!!</h4>
                                </div>

                                <form method="POST" action="{% url 'login' %}">
                                    {% csrf_token %}

                                    <p>Lütfen Giriş Yapın</p>

                                    <div class="form-outline mb-4">
                                        <input name="username" type="text" id="form2Example11" class="form-control"
                                            placeholder="Phone number or email address" />
                                        <label class="form-label" for="form2Example11">Kullanıcı Adı</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input name="password" type="password" id="form2Example22"
                                            class="form-control" />
                                        <label class="form-label" for="form2Example22">Şifre</label>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                            type="submit">Giriş Yap</button>

                                        <a class="text-muted" href="#!">Şifremi unuttum</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Hesabınız yok mu?</p>
                                        <a href="{% url 'register' %}" class="btn btn-outline-danger">Hesap Oluştur</a>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center"
                            style="background-image: url(https://www.pngitem.com/pimgs/m/136-1365553_ying-paladins-png-paladins-ying-transparent-png.png); background-position: center;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}