{% extends 'base.html' %}


{% block main %}
<section>
    <div class="container py-5">

        {% if products %}
        {% for product in products %}
        <div class="row justify-content-center mb-3 ">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="{{ product.image.url }}" class="w-100" />
                                    <!-- ! oyunla ilgili olan sayfaya atılabilir -->
                                    <a href="/product_detail/{{ product.id }}">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5 class="text-danger">{{ product.title }}</h5>
                                <!-- <div class="d-flex flex-row">
                                    <div class="text-danger mb-1 me-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>310</span>
                                </div> -->
                                <div class="mt-1 mb-0 text-muted small">
                                    <span>{{ product.category }}</span>
                                    <span class="text-primary"> • </span>
                                    <span>{{ product.type }}</span>
                                    <span class="text-primary"> • </span>
                                    <span>{{ product.date_now }}<br /></span>
                                </div>
                                <div class="mb-2 text-muted small">
                                    <span>Stok : {{ product.stok }}</span>
                                    <span class="text-primary"> • </span>
                                    <span>Satıcı : {{ product.user }}<br /></span>
                                </div>
                                <p class="text-truncate mb-4 mb-md-0">
                                    {{ product.text}}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">{{ product.price }} TL</h4>
                                </div>
                                <div class="d-flex flex-column mt-4">
                                    <button class="btn btn-primary btn-sm" type="button">Satın Al</button>
                                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                                        Favorilere Ekle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="text-center">
            <h4>Bu kategoride ürün bulunmamaktadır.</h4>
        </div>
        {% endif %}
        <!-- Diğer kategorilere göz at alanı -->
        <div class="container mt-5">
            <h3>Diğer Kategorilere Göz At</h3>
            <div class="row mt-3">

                {% for random_category in random_categories %}
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0 my-2">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                      <img src="{{ random_category.img.url }}" class="w-100" height="100px" />
                      <h5 class="text-center" >{{ random_category.title }}</h5>
                      <a href="/detail/{{ random_category.id }}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>






    </div>
</section>




{% endblock main %}