{% extends 'base.html' %}


{% block main %}

<seciton class="sss">
    <div class="container">
        <div class="row d-flex justify-content-center my-5">
            <div class="col-md-8 col-10">
                <div class="accordion accordion-borderless" id="accordionFlushExampleX">

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingOneX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseOneX" aria-expanded="true"
                                aria-controls="flush-collapseOneX">
                                XYZ Oyun Pazarı'nda neler bulabilirim?
                            </button>
                        </h2>
                        <div id="flush-collapseOneX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                XYZ Oyun Pazarı, hesaplar, eşyalar ve seviyeler gibi oyun içi hazinelerle 
                                dolu bir cennettir! İstediğiniz oyunun ihtiyaçlarını karşılayacak her şeyi burada bulabilirsiniz.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingTwoX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseTwoX" aria-expanded="true"
                                aria-controls="flush-collapseTwoX">
                                Güvenlik konusunda endişelenmeli miyim?
                            </button>
                        </h2>
                        <div id="flush-collapseTwoX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwoX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Asla! XYZ Oyun Pazarı, güvenliğe büyük önem verir. 
                                Siz sadece oyunun keyfini çıkarın, güvenlik konularını biz hallederiz. Gizli ajanlarımız görevde!
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingThreeX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseThreeX" aria-expanded="true"
                                aria-controls="flush-collapseThreeX">
                                XYZ Oyun Pazarı'nda nasıl ödeme yapabilirim?
                            </button>
                        </h2>
                        <div id="flush-collapseThreeX" class="accordion-collapse collapse "
                            aria-labelledby="flush-headingThreeX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Altın madeni bulmadık ama ödeme yöntemleri konusunda zenginiz! Kredi kartı, PayPal, hatta bazı 
                                oyun içi eşyaları bile kabul ediyoruz. Siz hangisini tercih ederseniz, o yolculuğa hazırız.                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingFourX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseFourX" aria-expanded="true"
                                aria-controls="flush-collapseFourX">
                                XYZ Oyun Pazarı'nın destek ekibi nasıl çalışır?
                            </button>
                        </h2>
                        <div id="flush-collapseFourX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFourX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Destek ekibimiz size sihirli değneklerle hizmet verir! 7/24 aktif olan bu ekip, 
                                sorularınızı yanıtlamak ve yardımcı olmak için her zaman burada.                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingFiveX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseFiveX" aria-expanded="true"
                                aria-controls="flush-collapseFiveX">
                                Hangi oyunlarda hesap satın alabilirim?
                            </button>
                        </h2>
                        <div id="flush-collapseFiveX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFiveX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Paladins, Dota, LoL, PUBG ve daha fazlası! XYZ Oyun Pazarı, birçok popüler oyun için hesaplar sunar. 
                                Oyununuzu seçin ve bir yolculuğa çıkın.                            
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingSixX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseSixX" aria-expanded="true"
                                aria-controls="flush-collapseSixX">
                                XYZ Oyun Pazarı'nda seviye atlama hizmeti var mı?
                            </button>
                        </h2>
                        <div id="flush-collapseSixX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingSixX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Tabii ki var! XYZ Oyun Pazarı, oyun seviyelerinde yıldızları toplamak için birkaç sihirli hizmet sunuyor. 
                                İstediğiniz seviyeye sadece bir "büyü" uzaklıktasınız.                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingSevenX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseSevenX" aria-expanded="true"
                                aria-controls="flush-collapseSevenX">
                                Eşyaları satın alırken dikkat etmem gereken bir şey var mı?
                            </button>
                        </h2>
                        <div id="flush-collapseSevenX" class="accordion-collapse collapse "
                            aria-labelledby="flush-headingSevenX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Sadece bir şey: Parlamayan eşyalara dikkat! XYZ Oyun Pazarı, nadir ve parıldayan eşyaların toplandığı 
                                bir yerdir. Göz alıcı eşyalarla diğer oyuncuları kıskandırabilirsiniz!                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white ">
                        <h2 class="accordion-header" id="flush-headingEightX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseEightX" aria-expanded="true"
                                aria-controls="flush-collapseEightX">
                                XYZ Oyun Pazarı'nda kullanılan sihirli diller nelerdir?
                            </button>
                        </h2>
                        <div id="flush-collapseEightX" class="accordion-collapse collapse "
                            aria-labelledby="flush-headingEightX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Biz her dilde konuşabiliriz! XYZ Oyun Pazarı, dünyanın her yerinden oyunseverlere hizmet vermektedir. 
                                Sihirli dil bariyerleri diye bir şey tanımıyoruz.                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingNineX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseNineX" aria-expanded="true"
                                aria-controls="flush-collapseNineX">
                                XYZ Oyun Pazarı'nda hesap satışı yapmak mümkün mü?
                            </button>
                        </h2>
                        <div id="flush-collapseNineX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingNineX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Elbette! Eğer büyülü bir hesabınız varsa ve başka maceracılarla paylaşmak istiyorsanız, 
                                XYZ Oyun Pazarı'nın büyülü vitrinine yerleştirebilirsiniz.                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingTenX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseTenX" aria-expanded="true"
                                aria-controls="flush-collapseTenX">
                                Gerçekten nadir eşyalar bulabilir miyim?
                            </button>
                        </h2>
                        <div id="flush-collapseTenX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTenX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                XYZ Oyun Pazarı'nın derin mağaralarında nadirlikler saklı! Eğer şansınız yaver giderse, 
                                bir efsanevi eşya bulma ihtimaliniz çok yüksek. Keşfetmek için hazır olun!                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingElevenX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseElevenX" aria-expanded="true"
                                aria-controls="flush-collapseElevenX">
                                XYZ Oyun Pazarı'nda iade veya değişim yapabilir miyim?
                            </button>
                        </h2>
                        <div id="flush-collapseElevenX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingElevenX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Büyülü bir oyun dünyasında yaşıyoruz, bu yüzden bazen hatalar yapabiliriz. Endişelenmeyin, 
                                XYZ Oyun Pazarı, bazı büyülü geri dönüşüm sihirleriyle yanınızda!                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item bg-info bg-gradient text-white">
                        <h2 class="accordion-header" id="flush-headingTwelveX">
                            <button class="accordion-button text-dark" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseTwelveX" aria-expanded="true"
                                aria-controls="flush-collapseTwelveX">
                                XYZ Oyun Pazarı'nı neden seçmeliyim?
                            </button>
                        </h2>
                        <div id="flush-collapseTwelveX" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwelveX" data-mdb-parent="#accordionFlushExampleX">
                            <div class="accordion-body">
                                Çünkü biz sizin en büyük müttefikiniziz! XYZ Oyun Pazarı, güvenli, eğlenceli
                                 ve heyecan dolu bir oyun deneyimi sunan benzersiz bir platformdur. 
                                Maceranızı daha da büyütmek için hemen bizimle yolculuğa çıkın!                            
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</seciton>

{% endblock main %}