{% extends 'base.html' %}
{% load static %}


{% block main %}

<div class="container">
  <div class="row d-flex justify-content-center my-5">
    <div class="col-md-8 col-12 text-center bg-opacity-50 bg-gradient rounded-2">
      <h5>Parolanı hazırla ve <span class="text-danger">Play4Pay Oyun Pazarı</span>'na adım at! 
        Sınırsız eğlence ve sürprizlerle dolu bir dünyanın kapılarını aralıyoruz. Bu büyülü pazar, 
        <b class="text-warning">Paladins, Dota, LoL</b> ve <b class="text-warning">PUBG</b> gibi popüler oyunların gizli hazinelerini sunan bir cennettir. 
        Hesaplar, eşyalar ve seviyelerle dolu bir macera için hazır olun! <span class="text-danger">Play4Pay Oyun Pazarı</span>'nda, 
        istediğiniz oyunu seçin ve bir adım öne geçmek için <span class="text-info">sihirli bir yolculuğa çıkın</span>. 
        Güvenlik, güvenilirlik ve eğlenceyi bir arada sunan bu platformda, sınırları aşacak ve 
        oyun deneyiminizi daha da heyecanlı hale getireceksiniz. <span class="text-success">Destek ekibimiz</span> sizi bekliyor ve 
        siz de büyülü bir aileye katılmanın keyfini çıkaracaksınız. <br>
        Hazırsanız, <span class="text-danger">Play4Pay Oyun Pazarı</span>'nda gerçek bir oyun kahramanı olmak için anasayfamıza hemen göz atın!</h5>
    </div>
  </div>
</div>



<div class="text-center text-white ">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">

            
            {% for category in categories %}

            <div class="col-lg-2 col-md-12 mb-4 mb-md-0 my-2">
              <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                <img src="{{ category.img.url }}" class="w-100" height="100px" />
                <h5 class="text-center" >{{ category.title }}</h5>
                <a href="/detail/{{ category.id }}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
              </div>
            </div>
                
            {% endfor %}
                


        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
  </div>
  
  
  


{% endblock main %}
    