{% extends 'base.html' %}


{% block main %}

<div class="container my-3">
    <div class="row p-0">
        <div class="card mb-3 ">
            <img src="{{ product.image.url }}" class="card-img-top w-100 rounded-1 mt-2" alt="Wild Landscape" />
            <div class="card-body">
                <h5 class="card-title text-danger">{{ product.title }}</h5>
                <p class="card-text">
                    Açıklama : {{ product.text }}
                </p>
                <p class="card-text">
                    <h5 class="text-primary">Satıcı : {{ product.user }}</h5>
                    <h5 class="text-info">Fiyat : {{ product.price }} TL</h5>
                    <h5 class="text-secondary">Oyun : <a href="/detail/{{ product.category.id }}" class="text-danger"> {{ product.category }}</a></h5>
                    <h5 class="text-warning">Ürün Tipi : {{ product.type }}</h5>
                    <h5 class="text-success">Stok : {{ product.stok }}</h5>
                    <small class="text-danger">Eklenme Tarihi : {{ product.date_now }}</small>
                </p>
                <div class="d-flex flex-column mt-4">
                    <form class="d-flex mt-3" method="POST" action="">
                        {% csrf_token %}
                        <label class="d-flex align-items-center" for="">Adet:
                           <input class="form-control form-control-sm m-2" type="number" value="1" min="1" max="{{ product.stok }}" name="piece" id="" style="width: 100px;">
                        </label>
                        <button class="btn btn-info" name="submit" value="shopForm" type="submit" >Sepete Ekle</button>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock main %}